@charset "utf-8";
/* CSS Document */

*{  

	box-sizing:border-box;

}

body{
	
    margin:0;
	
}

.container{
	
	width: 400px;
	height: 400px;
	margin: 10px auto;
	
}

.botao{
	
	position:relative;
	width: 100%;
	padding: 10px;
	background-color: #ccc;
	border: 5px solid #000;
	margin-top: 5px;
	text-align: center;
	font-weight: bold;
	font-family: tahoma;
	
}

.botao:hover{
	
	color:#fff;
	background-color:#074c14;
	
}